.HomePage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100vh;
}
.hero {
	position: relative;
	align-items: center;
	padding-top: 3em;
	width: 80vh;
	text-shadow: lightskyblue 0 0 1vw;
}
.hero-content {
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.hero-description {
	display: flex;
	flex-direction: row;
	justify-content: center;

	@media screen and (max-width: 1000px) {
		font-size: 1vw;
	}
}
.hero-text {
	z-index: 1;
	color: white;
	text-align: center;
	font-size: 5vw;
	text-shadow: hotpink 0 0 1vw;

	span {
		color: #037fff;
	}
}

.hero-sub-text {
	line-height: 1px;
	padding: 1em;
	text-align: center;
	font-size: 1.5vw;
	&:not(:last-child) {
		border-right: 1px solid white;
	}
}
.white-line {
	width: 100%;
	padding-top: 3em;
	position: relative;
}
.white-line:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: (1px solid white);
	transform: scaleX(0);
}

.icons {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.5rem 0;
	.icon-holder {
		margin-right: 1rem;
		font-size: 2.3rem;

		.icon {
			&:not(:last-child) {
				font-size: 2.3rem;
				padding: 1rem;
				color: #a4acc4;
				transition: all 0.4 ease-in-out;
			}
		}
		.git:hover {
			color: red;
		}
		.ln:hover {
			color: darkblue;
		}
	}
}
